<div class="content-structure">
    <div class="content-title">
        <h3 class="content-title-name">KIS bond interest rate by {{ defaultType.국고채 }}</h3>
    </div>
    <div id="content-filter-box">
        {% for type in types %}
        <li><b>{{ type }}</b></li>
        {% endfor %}
        <div id="content-filter-box-button"></div>
    </div>
    <div class="content-plot"></div>

    <script>
        $(document).ready(function(){
            $('#content-filter-box-button').on('click', function() {
            $('#content-filter-box').toggleClass('active');
            });
        });
        
    </script>
</div>
