.header-structure {
    border-bottom: solid 1px;
    height: 100px;
}

.home-button {
    position: absolute;
    top: 30px;
    left: 50px;
}

.home-icon {
    width: 25px;
    height: 25px;
}

.home-title {
    position: absolute;
    width: 500px;
    left: 300px;
    background-color: aqua;
}

.home-title-name {
    text-align: center;
}
