a {
    color: black; text-decoration: none;
}

.content-structure {
    position: absolute;
    padding-left: 200px;
    padding-right: 200px;
    left: 100px;
}

.content-title {
    position: absolute;
    width: 500px;
    height: 70px;
    background-color: yellowgreen;
}

.content-title-name {
    text-align: center;
}

.content-filter-scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: black white;
    scrollbar-width: thin;
  }

.content-filter-box {
    position:relative;
    width: 130px;
    height: 30px;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
    left: 370px;
    top: 70px;
}

.content-filter-box-button {
    position: absolute;
    width: 0px;height: 0px;
    right: 5%;
    top: 12.5px;
    border-top:5px solid black;
    border-bottom:5px solid none;
    border-right: 5px solid transparent;
    border-left: 5px solid  transparent;
}

.content-plot {
    position:relative;
    width: 500px;
    height: 500px;
    top: -32.5px;
    border: solid black 1px;
}
