a {
    color: black; text-decoration: none;
}

li {
    list-style: none;
    padding-left: 0px;
    margin-top: 7px;
}

.content-structure {
    position: absolute;
    padding-left: 200px;
    padding-right: 200px;
    left: 100px;
}

.content-title {
    position: absolute;
    width: 500px;
    height: 70px;
    background-color: yellowgreen;
}

.content-title-name {
    text-align: center;
}

#content-filter-box {
    position:relative;
    width: 130px;
    height: 30px;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
    z-index: 999;
    overflow: hidden;
    left: 370px;
    top: 70px;
}

#content-filter-box.active {
    width: 147px;
    height: 150px;
    border-top: white;
    border-right: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content-filter-box-button {
    position: absolute;
    width: 0px;height: 0px;
    right: 5%;
    top: 12.5px;
    border-top:5px solid black;
    border-bottom:5px solid none;
    border-right: 5px solid transparent;
    border-left: 5px solid  transparent;
}

.content-plot {
    position:absolute;
    width: 500px;
    height: 500px;
    top: 0px;
    border: solid black 1px;
}
